@media only screen and (max-width: 800px) {
.col-3 img{
	width:100%;	
	margin-top:-160px;
	width:430px;
	height:550px;
	margin-left:-100px;
}
.col-4 h3{
	font-size:45px;
	margin-left:-640px;
	margin-top:320px;
	margin-right:320px;
	text-align:center;
}
.button{
  margin-left:-950px;
  margin-top:20px;
}
.card-section{
	width:300px;
	padding-bottom:20px;
}
.img-section{
	width:100%;
	margin-left:-30px;
}
.content-section h4{
	text-align:center;
}
.four{
	margin-left:80px;
}
.col-17{
	margin-left:550px;
	margin-top:-30px;
}
.col-18{
	margin-left:-20px;
	margin-top:-80px;
}
.col-19{
	margin-left:-30px;
	margin-bottom:-20px;
}
.col-83{
	margin-top:50px;
	margin-left:-20px;
}
.col-29{
	margin-left:40px;
	font-size:22px;
	display:flex;
	margin-top:-10px;
	font-weight:bold;
}
.col-30{
	margin-left:120px;
}
.img-section img{
	margin-left:120px; 
}
.col-34{
	margin-left:80px;
}
.col-72{
	margin-top:-60px;
}
.col-74{
	margin-left:80px;
	margin-top:20px;
}
.col-84{
	margin-left:50px;
	margin-top:40px;
}
.col-24{
	margin:auto;
	border-radius:6px;
}
.col-23 h4{
	margin:auto;
	line-height:1.2;	
}
.col-22 h3{
	margin-left:-60px;
}





}



