@media only screen and (max-width: 800px) {
.col-3 img{
	width:100%;	
	margin-top:-160px;
	width:430px;
	height:550px;
	margin-left:-100px;
}
.col-4 h3{
	font-size:45px;
	margin-left:-640px;
	margin-top:320px;
	margin-right:320px;
	text-align:center;
}
.button{
  margin-left:-950px;
  margin-top:20px;
}
.card-section{
	width:300px;
	padding-bottom:20px;
}
.img-section{
	width:100%;
}
.content-section h4{
	text-align:center;
}
.four{
	margin-left:80px;
}
.col-17{
	margin-left:550px;
	margin-top:-30px;
}
.col-18{
	margin-left:-20px;
	margin-top:-80px;
}
.col-19{
	margin-left:-30px;
	margin-bottom:-20px;
}
.col-83{
	margin-top:50px;
	margin-left:-20px;
}















}



