.col-2 ul li{	
	display:inline;
	color:white;
	padding-right:40px;
	font-weight:bold;
}
.col-2 ul{
	text-align:right;
	margin-top:-40px;
}
.col-3{
	padding-top:80px;
	padding-left:50px;
}
.col-4{
	text-align:center;
	margin-top:-390px;
	font-size:48px;
	margin-right:160px;
	margin-left:640px;
	padding:0 6px;
	color:white;
	font-weight:800px;
    text-decoration:none;
}
.col-5{
	text-align:center;	
	margin-right:160px;
	margin-left:640px;
	margin-top:-55px;
}
.col-1 {
	background-color:#6495ED;
	padding-top:10px;
	color:white;
	padding-left:20px;
}
.col-6{
	background-color: #6495ED;
	padding-bottom:150px;
    text-decoration:none;
}
.button{
	background-color: #3366FF;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}
.col-7{
	text-align:center;
    text-decoration:underline;
	margin-top:-22px;
	margin-bottom:80px;	
}
.col-7 h1{
    padding-top:40px;
    color:white;
}
.col-16{
	text-align:center;
	background-color: #EEE3FA;
	margin-top:5px;	
}
.col-11{
    display:block;
    margin-left:-600px;
    margin-bottom:-30px;
    object-fit:contain;
    margin-bottom:-40px;
}
.col-9{
	display:flex;
    padding-left:40px;
}
.col-13{
	display:flex;
    padding-left:40px;
    margin-top:-20px;
}
.col-15{
	display:flex;
    padding-left:40px;
    margin-bottom:-40px;
}
.col-8 h4{
	padding-left:190px;
	margin-top:-100px;
	font-size:26px;
	text-align:justify;
}
.second{
    background-color: #3366FF;
    border: none;
    color: white;
    padding: 8px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:-280px;	
    margin-top:-150px;
}
.col-8{
	background-color:white;
	margin-left:250px;
	margin-right:200px;
}
.col-10{
   margin-top:40px;
   background-color:white;
   margin-left:250px;
   margin-right:200px;
   padding-bottom:20px;
   margin-bottom:80px;
}
.col-10 h4{
	padding-left:190px;
	margin-top:-30px;
	font-size:26px;
	text-align:justify;
}
.fourth{
    background-color: #3366FF;
    border: none;
    color: white;
    padding: 8px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:-270px;	
    margin-top:-150px;	
}
.col-12{	
	background-color:white;
	margin-left:250px;
	margin-right:200px;
	margin-bottom:10px;
}
.col-12 h4{
	margin-top:-90px;
	margin-right:-140px;
	font-size:26px;
}
.six {
    background-color: #3366FF;
    border: none;
    color: white;
    padding: 8px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:-270px;	
    margin-top:-110px;	
}
.col-14{
	margin-top:40px;
	background-color:white;
	margin-left:250px;
	margin-right:200px;	
}
.col-14 h4{
	margin-top:-60px;
	font-size:26px;
	margin-right:-160px;
}
.eight{
    background-color: #3366FF;
    border: none;
    color: white;
    padding: 8px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:-270px;	
    margin-top:-150px;	
}
.col-16 h3{
    text-decoration:underline;
    padding-top:20px;
    color:blue;
}
.col-17 h4{
    padding-bottom:30px;
    margin-left:-800px;
    margin-top:50px;
    font-size:18px;
}
.col-19 {
    margin-left:-800px;
    margin-top:-50px;
    padding-bottom:80px;
}
.col-18{
    margin-top:-140px;
    margin-left:-250px;
    font-size:18px;
    margin-bottom:-20px;
}
.col-20{
    padding-bottom:100px;
}
.col-21{
    background-color: #6495ED;
}
.col-22{
    text-align:justify;
    background-color:white;    
    margin-top:70px;
    margin-left:20px;
}
.col-22 h3{
   padding-top:40px;
   padding-left:40px;
   font-size:25px;
}
.col-23{
    text-align:justify;
    background-color:white;
    font-size:25px;  
}
.col-23 h4{
    margin-top:40px;
    line-height:1.6;
    margin-left:60px;
    margin-right:80px;
    font-size:26px;
    font-style:normal;
}
.col-24{
    background-color:white;
    margin-left:200px;
    margin-right:200px;
}
.col-23 p{
    margin-left:320px;
    margin-top:-70px;
}    
.col-25{
    padding-bottom:100px;
}
.col-26 {
    padding-left:100px;
    padding-top:50px;
}
.col-27{
    padding-left:100px;
    margin-top:-10px;
    margin-left:-30px;
}
.col-28{
    margin-left:400px;
    margin-top:-60px;
}